* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(255, 251, 0);
}

.contatiner {
    background-color: #fff;
    width: 1200px;
    margin: 0 auto;

}

.header {
    background-image: url(banner.png);
    height: 250px;
}

.header h1 {
    position: absolute;
    left: 300px;
    top: 80px;
}

.header h1 img {}

.nav {
    background-color: rgb(255, 0, 0);
    width: 200px;
    float: left;
}

.nav ul {}

.nav li {}

.nav li a {}

.content {
    background-color: rgb(47, 0, 255);
    float: right;
    width: 1000px;

}

.content h3 {}

.content img {}

.content p {}

.footer {
    background-color: rgb(255, 0, 179);
    clear: both;
    padding: 20px;
    text-align: center;
}

.footer h2 {}

.footer h4 {}