@charset "utf-8";
@import url("reset.css");


* {
    padding: : 0;
    margin: 0;
}

div {
    background-image: url(banner.jpg);
    width: 1200px;
    height: 350px;
    margin: 0 auto;
    position: relative;


}

h1 {
    background-color: aquamarine;
    position: absolute;
    top: 120px;
    left: 400px;
}

p {
    background-color: blanchedalmond;
    position: absolute;
    left: 650px;
    top: 120px;
    width: 400px;

}