body {
    background-color: rgb(9, 194, 71);
}

h1 {
    text-align: center;
    font-size: 40px;
    background-color: #fff;
    color: red;
}

h2 {
    font-size: 30px;
    font-weight: lighter;
    color: yellow;
}

p {

    font-size: 25px;
    letter-spacing: 5px;
    line-height: 35px;
    color: rgb(255, 255, 255);
}