body {
    background-color: rgba(255, 255, 255 1);
    background-image: url(1920x1200.jpg);
    background-attachment: fixed;

}

div {
    color: rgb(4, 0, 255);
    background-color: rgba(255, 255, 255, 0.37);
    width: 1200px;
    margin: 0 auto;
    background-image: url(bg06.png), url(bg07.png), url(bg08.png);
    background-repeat: repeat-x, no-repeat, no-repeat;
    background-position: left top, right top, left bottom;
}